@charset "utf-8";

/*-----------------------------

　　基本設定

------------------------------*/


body{
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size:0.875em;
	line-height:1.688em;
	color: #6a3905;
}

#wrapper {
	width: 100%;
	margin-top: 30px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 0;
	}


/*マージンを設定する*/

.mg20 {
	margin: 20px;
}

.mg50 {
	margin: 50px;
}

.mg-t50 {
	margin-top: 50px;
}

.mg-b5 {
	margin-bottom: 5px;
}

.mg-b30 {
	margin-bottom: 30px;
}

.mg-120 {
	margin-left: 120px;
	}

.mg-r20 {
	margin-right: 20px;
}



/*フロートさせるボックスに付ける*/

.hidari{
	float:left;	
}

.migi{
	float:right;
}



/*h1,　h2, h3の基本設定*/

h1{	
}

h2{	
	font-size:1.125em;
	font-weight: bold;
	color:#fd2d61;
	line-height:1.625em;
}

h3 {
	font-family: 'Kozuka Mincho Pr6N',"游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
	color: #6a3905;
	font-size:2.25em;
	letter-spacing: .1em;
	line-height: 1.5em;
	text-align:center;
}

/*お問合せ・説明会予約ボタン*/

.btn-contact {
	margin: 50px 0 100px 0;
}

.btn-contact a {
	border: 3px solid #fc94af;
	box-shadow: 8px 8px rgba(254,199,213,0.4);
	color: #fc94af;
	font-size: 1.375em;
	padding: 20px 30px;
}

/*リンクの下線を非表示にする*/

a{
	text-decoration: none;
}

/*行位置を真ん中に設定する要素に付ける*/

.center{
	text-align:center;
}

/*-----------------------------
 
　CLEARFIXの設定

------------------------------*/
/* For modern browsers */
.cf:before,
.cf:after {
    content:"";
    display:table;
}

.cf:after {
    clear:both;
}

/* For IE 6/7 (trigger hasLayout) */
.cf {
    zoom:1;
}

/*
C. Chao's part
U. Uru's part
J. Jun's part
*/



/*-----------------------------
 
　C.グローバルナビゲーション

------------------------------*/

#globalNav {
	width: 100%;
	min-height: 80px;
	background: url(../img/nav_shadebar.png) repeat-x bottom;
}

#globalNav ul {
	width: 1170px;
	margin: 0 auto;
	overflow: hidden;
}

#globalNav ul li {
	float: left;
	hight: 80px;
}

#globalNav ul li h1 {
	margin-right: 50px;
}

#globalNav ul li a {
	color: #f3a8bb;
	display: inline-block;
	font-size: 1.1em;
	height: 80px;
	letter-spacing: .1em;
	line-height: 80px;
	width: 140px;
	text-align: center;
	padding: 0 5px;
}

/*-----------------------------

　C. ヘッダー部

------------------------------*/

.slide {
	position: relative;
	width: 1170px;
	margin: 0 auto;
}

header h2 {
	position: absolute;
	top: 40px;
	left: 0;
}

/*-----------------------------

　C. 共感部

------------------------------*/

#message {
	width: 1170px;
	margin: 0 auto;
}

#message h3 {
	margin: 90px 0 80px 0;
}

.wd-950 {
	width: 950px;
	margin: 0 auto;
}

/*-----------------------------

　U. サクセスストーリー

------------------------------*/

.center{
	text-align:center;
}

#wrapper h3 span{
	font-size:2.125em;
}

#storywap{
	width: 100%;
	background:url(../img/story_bg.jpg) repeat;
}

#hoshino{
	width: 1139px;
	height: 1194px;
	background:url(../img/story_bg01.jpg) no-repeat;
	margin:0 auto;
}

#katsuura{
	width:1137px;
	height:1076px;
	background:url(../img/story_bg02.jpg) no-repeat;
	margin:0 auto;
}

#nakayama{
	width:1145px;
	height: 1098px;
	background:url(../img/story_bg03.jpg) no-repeat ;
	margin:0 auto;
}

#ogawa{
	width:1137px;
	height: 1131px;
	background:url(../img/story_bg04.jpg) no-repeat ;
	margin:0 auto;
}

.story{
	width:100%;
}




.story h4,
.story h5{
	font-family: 'Kozuka Gothic Pr6N';
	font-size:1.25em;
	color:#f37691;
	line-height:1.5em;	
}

.storyName{
	font-family: 'Kozuka Gothic Pr6N';
	color: #59493f;
	font-size: 1.875em;
	line-height: 1.5em;
}

.storyAbout{
	font-family: 'Kozuka Gothic Pr6N';
	color: #59493f;
	font-size: 1.125em;
	line-height:1.5em;
}

.story h5 span{
	font-size:1.875em;
}

.storyBox{
	clear:both;
}

.storyBox{
	margin-left:5%;
	margin-right:5%;
	margin-top:2em;
}

.storyLady{
	/*width:24.2%;
	height: 7.1%;*/
	margin-top:4em;
}

.storyIntro{
	width:60.8%;
	margin-left:5%;
	margin-top:4em;
}

.storyWork{
	width: 21.5%;
	height:6.2%;
	
}

.storyText{
	width:63.5%;
}







/*-----------------------------

　C. カリキュラム

------------------------------*/

#curriculum {
	width: 1170px;
	margin: 0 auto;
}

#curriculum-ttl {
	position:relative;
}

.curriculum-ttl {
	position: absolute;
	top: -64px;
	left: 132px;
}

#curriculum h4 {
	font-size: 1.25em;
	margin-bottom: 20px;
}

#curriculum h3 {
	color: #f29c9f;
	margin-bottom: 40px;
}

.navigator-ttl {
	color: #f3a1a4;
	font-size: 1.125em;
	margin-top: 40px;
	margin-left:65px;	
}

.navigator1 {
	background: rgba(255,247,153,.7);
	border-radius: 30px 30px 30px 30px;
	margin-left: 65px;
	padding: 25px 30px 25px 10px;
}

.navigator2 {
	background: rgba(205,234,248,.8);
	border-radius: 30px 30px 30px 30px;
	margin-left: 50px;
	padding: 15px 30px 15px 10px;
}

.navigator3 {
	background: rgba(201,252,183,.26);
	border-radius: 30px 30px 30px 30px;
	margin-left: 50px;
	padding: 25px 30px 25px 10px;
}

.navigator1 img,
.navigator3 img {
	margin-top: 5px;
}

.navigator2 img {
	margin-top:17px;
}

.navigator-description {
	background: #fff;
	border-radius: 15px 15px 15px 15px;
	margin-left:10px;
	padding: 15px;
}

.navigator-name {
	font-size: 1.1em
}

.resident {
	font-size: .85em
}

.bg-note {
	background: url(../img/curriculum_bg_linepaper.jpg) repeat left top;
	padding: 0px 60px 60px 60px;
}

.curriculum-ttl-inner {
	background: url(../img/icon_flower.png) no-repeat left center;
	font-size: 1em;
	font-weight: bold;
	margin-top:40px;
	padding: 10px 0 10px 45px;
}

.curriculum-box {
	background: #fdf4f6;
	border: 1px solid #f29c9f;
	border-radius: 30px 30px 30px 30px;
	margin-top: 40px;
	padding: 15px 15px 15px 30px;
}

.curriculum-comment {
	margin:0 40px;
	width: 240px;
}

/*-----------------------------

　J. ライブ授業

------------------------------*/

#live h3{
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size:1em;
	font-weight:bold;
	line-height:2.5em;
	margin-bottom:30px;
}




/*-----------------------------

　J. 講師紹介

------------------------------*/





/*-----------------------------

　J. 卒業生からのメッセージ

------------------------------*/







/*-----------------------------

　J.コース案内

------------------------------*/







/*-----------------------------

　J. Q&A

------------------------------*/







/*-----------------------------

　J. 説明会

------------------------------*/

.inner{
	width: 1240px;
	margin:0 auto;
	background:url(../img/access_bg.jpg) repeat;
}

.wave{
	width:100%;
	height:auto;
}

.box_setsumei{
	margin-top:-80px;

	}
	
news-btm{
	clear:both;
	margin:0 auto;
}

.wrap{
	width:900px;
	margin:0 auto;
}

.staffmsg{
	width: 100%;
	height: 9.7%;
	border-radius: 30px;
	border-width: 5px;
	border-color: #f29c9f;
	border-style: solid;
	background-color: #ffffff;
	margin:0 auto;
	padding:30px;
	
}

.staffmsg h4{
	font-weight:bold;
}

.staffmsg p{
	width: 88.7%;
	height: 2.9%;
	margin:0 auto;
}

.seminardetail{
	width:100%;
	border-radius: 30px;
	background-color: rgba(242, 156, 159, 0.32);
	margin:0 auto;
	padding:30px;
	margin-top:50px;
	margin-bottom:50px;
}

.seminardetail h4{
	font-weight:bold;
}

.seminardetail ul{
	width: 586px;
	display: block;
	margin:0 auto;
}

footer{
	height: 50px;
	background-color: rgba(252, 197, 211, 0.61);
	
}

